
        {{> header}}


        <main class="about-us">

            <h1>About us</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus pretium tellus a finibus. Donec id orci a dui consequat tempus. Morbi nec augue ligula. Nam vel lectus sed est pulvinar aliquam. Maecenas ullamcorper viverra metus ut facilisis. Cras ultrices velit eros, a tristique dui condimentum non. Nullam non neque diam. Nam nec felis et ligula convallis scelerisque a et eros. Mauris in ante suscipit, pellentesque eros vel, congue arcu. Proin id metus nec lacus aliquam consequat ac vel magna. Nullam eget neque vel massa lacinia commodo.</p>

            <h1 class="quote">"We just love nuts"</h1>

            <p>Proin et eros vitae velit lacinia commodo vel vitae nisl. Nunc ut dui feugiat, bibendum mi ac, tincidunt turpis. Maecenas a purus a dui tempor fringilla. Vivamus malesuada posuere erat quis iaculis. Maecenas sagittis ipsum orci. Vivamus nunc neque, scelerisque non interdum ac, venenatis ut massa. Donec maximus urna id ex cursus, id accumsan mi efficitur. Vivamus aliquam dolor ut tincidunt sollicitudin. In nec consequat justo. Nunc a enim tortor. Nullam sed metus a sapien iaculis pellentesque vel nec nibh. Etiam ut luctus neque. Duis ut sapien ornare, commodo felis euismod, dictum nisl. Morbi auctor ligula ut consectetur ultrices.</p>

        </main>

        {{> footer}}
        
    </body>

</html>

