
        {{> header}}


        <main class="contact">

            <div class="container-contact-us">
                <div class="text-contact">
                    <h1>Contact us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, placeat.</p>
                </div>
                <div class="input-contact">
                    <input type="text" name="name" placeholder="Your name">
                    <input type="email" name="email" placeholder="Your e-mail">
                    <input class="text-field"type="text" name="text" placeholder="Your question">
                    <button type="submit">send</button>
                </div>
            </div>

        </main>

        {{> footer}}

    </body>

</html>
