
       {{> header}}

        {{#if messages.error}}
            <div class="error-messages">
                <h3> {{messages.error}}</h3>
            </div>
        {{/if}}

        {{#if messages.succes}}
            <div class="succes-messages">
                <h3> {{messages.succes}}</h3>
            </div>
        {{/if}}

         <main>

            <div class="container-form-reset-password">

                <h1>Password reset</h1>

                <form action="/profile/password-reset" method="POST">

                    <div class="form-control-profile">
                        <label for="password">Old password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                    </div>
                    <div class="form-control-profile">
                        <label for="password">New password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"> 
                    </div>
                    <div class="form-control-profile">
                        <label for="password">Repeat new password</label>
                        <input type="password" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat">
                    </div>

                    <button type="sumbit" class="btn-reset" id="btnReset">Login</button>

                </form>

                <p class="new-member-register">Are you new? Go to the <a href="/users/register">register page</a>.</p>

            </div>
            
        </main>

        {{> footer}}