
        {{> header}}
      
        <main>

        <div class="shoppingcart-header">
            <h2>Your cart</h2>
            <a href="/">Continue shopping?</a>
        </div>

           <div class="subtotal-container">
            <div class="subtotal">
                total
                <span class="subtotal-price"></span>
            </div>
            <button class="check-out-button" id="btn">check out</button>
        </div>

        <table class="container" id="shoppingcart-container">
            <tr class="row">
                <th class="col-5">
                    product
                </th>
                <th class="col-2">
                    Price
                </th>
                <th class="col-3">
                    quantity
                </th>
                <th class="col-2">
                    total
                </th>
            </tr>

        </main>

        <script src="/js/shop.js"></script>

    </body>

</html>
